@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@-webkit-keyframes slideIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

body,
html {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent
}

html {
	font-family: Helvetica, Arial, sans-serif;
	color: #2d2d2d;
	font-size: 16px
}

div {
	box-sizing: border-box
}

input[type=number],
input[type=password],
input[type=tel],
input[type=text] {
	-webkit-appearance: none;
	font-size: 15px;
	box-sizing: border-box
}

.pull-left {
	float: left
}

.pull-right {
	float: right
}

.clearfix:after {
	display: table;
	content: ' ';
	clear: both
}

#mx-content {
	position: relative;
	width: 100%;
	height: 100%
}

i[class^=ion-] {
	font-size: 1.4rem;
	vertical-align: middle
}

i[class^=ion-]:last-child {
	margin-left: 5px
}

i[class^=ion-]:first-child {
	margin-right: 5px
}

.mx-button {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 12px;
	height: 44px;
	background-color: #319fde;
	color: #fff;
	font-size: 17px;
	border-radius: 2px;
	text-align: center;
	box-sizing: border-box
}

.app-rp .mx-button {
	background-color: #e6705c
}

.mx-button a {
	text-decoration: none;
	color: inherit
}

.mx-button span {
	line-height: 20px
}

.mx-button.mx-button-outline {
	padding: 11px;
	background: transparent;
	color: #319fde;
	border: 1px solid #319fde
}

.app-rp .mx-button.mx-button-outline {
	color: #e6705c;
	border-color: #e6705c
}

.mx-button.mx-button-square {
	border-radius: 0
}

.mx-button.mx-button-tiny {
	height: 26.4px;
	padding: 4.8px 9.6px;
	font-size: 13.6px
}

.mx-button.mx-button-small {
	height: 35.2px;
	padding: 7.2px 9.6px;
	font-size: 15.3px
}

.mx-button.mx-button-error {
	color: #fff;
	background: #f04949
}

.mx-button.mx-button-full {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.mx-button.mx-button-disable {
	color: #fff!important;
	background-color: #c4c4c4!important
}

.mx-button.Tappable-active {
	opacity: .9
}

.mx-button>div {
	position: relative;
	width: 100%;
	height: 100%
}

.mx-button>div span,
.mx-view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

.mx-view .mx-title-bar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100
}

.mx-view .mx-scroll-container {
	position: absolute;
	top: 44px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: #f0f0f0
}

.mx-title-bar {
	width: 100%;
	height: 44px;
	background-color: #319fde;
	color: #fff;
	text-align: center;
	line-height: 44px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .05)
}

.app-rp .mx-title-bar {
	background-color: #fff;
	color: #2d2d2d
}

.mx-title-bar>h1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 50%;
	height: 44px;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0)
}

.mx-title-bar>h1 small {
	display: block;
	font-weight: 400;
	line-height: 14px;
	font-size: .8rem;
	color: #fff
}

.mx-title-bar>h1.mx-title-bar-sub-title {
	font-size: 1.15rem;
	line-height: 22px
}

.mx-title-bar .mx-title-bar-buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 44px
}

.mx-title-bar .mx-title-bar-left {
	float: left
}

.mx-title-bar .mx-title-bar-right {
	float: right
}

.mx-title-bar-button {
	display: inline-block;
	line-height: 44px;
	height: 44px;
	padding: 0 8px;
	border: 0;
	border-radius: 2px;
	background-color: transparent;
	box-sizing: border-box;
	-webkit-appearance: none
}

.mx-title-bar-button a {
	text-decoration: none;
	color: inherit
}

.mx-title-bar-button.Tappable-active {
	color: transparentize(#fff, .25)
}

.mx-scroll-container {
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.mx-scroll-container .mx-scroll-container-content {
	overflow: hidden
}

.mx-scroll-container.mx-scroll-container-headless {
	top: 0
}

.mx-scroll-container.mx-scroll-container-with-foot {
	bottom: 44px
}

.mx-foot {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100
}

.mx-foot,
.mx-foot .mx-button {
	height: 44px
}

.mx-portal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999
}

.mx-portal .mx-portal-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 10
}

.mx-portal.mx-portal-hidden {
	display: none
}

.mx-dialog-container {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	z-index: 11
}

.mx-dialog-container .mx-dialog-body {
	overflow: hidden;
	margin: 0 auto;
	min-width: 60%;
	max-width: 80%;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22);
	background-color: #fff
}

.mx-dialog-container .mx-dialog-content {
	padding: 15px;
	font-size: 18px;
	text-align: center;
	word-wrap: break-word
}

.mx-dialog-container .mx-dialog-buttons {
	border-top: 1px solid #e5e5e5
}

.mx-dialog-container .mx-dialog-buttons .mx-button {
	border-radius: 0;
	color: #319fde;
	background-color: #fff;
	text-align: center;
	box-sizing: border-box
}

.app-rp .mx-dialog-container .mx-dialog-buttons .mx-button {
	color: #e6705c
}

.mx-dialog-container .mx-dialog-buttons.mx-dialog-buttons-1 .mx-button {
	width: 100%
}

.mx-dialog-container .mx-dialog-buttons.mx-dialog-buttons-2 .mx-button {
	width: 50%;
	border-left: 1px solid #e5e5e5
}

.mx-dialog-container .mx-dialog-buttons.mx-dialog-buttons-2 .mx-button:first-child {
	border-left: 0
}

.mx-action-sheet-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 11
}

.mx-action-sheet-container .mx-action-sheet-title {
	padding: 10px;
	color: #959595;
	background-color: #fff;
	text-align: center
}

.mx-action-sheet-container .mx-action-sheet-body {
	padding: 15px
}

.mx-action-sheet-container .mx-button {
	display: block;
	background: #fff;
	color: #2d2d2d
}

.mx-action-sheet-container .mx-button.mx-button-error-reverse {
	background: #fff;
	color: #f04949
}

.mx-action-sheet-container .mx-action-sheet-custom-buttons {
	overflow: hidden;
	border-radius: 2px;
	background-color: #000
}

.mx-action-sheet-container .mx-action-sheet-custom-buttons .mx-button {
	border-radius: 0;
	border-top: 1px solid #e5e5e5
}

.mx-action-sheet-container .mx-action-sheet-custom-buttons .mx-button:first-child {
	border-top: 0
}

.mx-action-sheet-container .mx-action-sheet-buttons {
	margin-top: 5px;
	background-color: #000
}

.mx-v-code {
	position: relative;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-ms-grid-row-align: stretch;
	align-items: stretch;
	height: 45px
}

.mx-v-code .vcode-input {
	margin-right: 115px;
	height: 45px
}

.mx-v-code::-moz-placeholder {
	color: #a0a0a0
}

.mx-v-code::-webkit-input-placeholder {
	color: #a0a0a0
}

.mx-v-code:-ms-input-placeholder {
	color: #a0a0a0
}

.mx-v-code input {
	display: block;
	margin: 0;
	padding: 10px;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	border: 1px solid #e5e5e5;
	outline: none;
	text-align: center;
	-webkit-transition: color .3s;
	transition: color .3s
}

.mx-v-code img {
	width: 100%;
	height: 100%;
	border: 0
}

.mx-v-code .mx-button {
	float: right;
	padding: 0;
	width: 100px
}

.mx-v-code .mx-button span {
	display: block;
	line-height: 45px;
	height: 45px;
	font-size: 12.8px
}

.mx-v-code .mx-button-bare {
	margin: 0;
	margin-left: 10px;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 45px;
	line-height: 25px;
	border-radius: 2px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	color: #2d2d2d;
	box-sizing: border-box
}

.mx-v-code.mx-v-code-invalid input {
	color: #f04949;
	-webkit-animation: shake .45s;
	animation: shake .45s
}

.mx-v-code.mx-v-code-invalid::-moz-placeholder {
	color: lighten(#f04949, 15%)
}

.mx-v-code.mx-v-code-invalid::-webkit-input-placeholder {
	color: lighten(#f04949, 15%)
}

.mx-v-code.mx-v-code-invalid:-ms-input-placeholder {
	color: lighten(#f04949, 15%)
}

.mx-form {
	margin: 15px 0;
	padding: 0 15px;
	border: 1px solid #e5e5e5;
	background-color: #fff
}

.mx-form .mx-input {
	border-bottom: 1px solid #e5e5e5
}

.mx-form .mx-input:last-child,
.mx-form .mx-selection:last-child {
	border-bottom: 0
}

.mx-input {
	height: 43px;
	border: 1px solid transparent
}

.mx-input::-moz-placeholder {
	color: #a0a0a0;
	-webkit-transition: color .3s;
	transition: color .3s
}

.mx-input::-webkit-input-placeholder {
	color: #a0a0a0;
	-webkit-transition: color .3s;
	transition: color .3s
}

.mx-input:-ms-input-placeholder {
	color: #a0a0a0;
	-webkit-transition: color .3s;
	transition: color .3s
}

.mx-input label {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 45px
}

.mx-input select,
.mx-input span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 6rem
}

.mx-input select {
	font-size: 16px
}

.mx-input input {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 8px 0 8px 8px;
	min-width: 12rem;
	border: 0;
	outline: none;
	box-sizing: border-box
}

.mx-menu-item {
	position: relative;
	z-index: 1
}

.mx-menu-item .mx-menu-item-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	text-align: right
}

.mx-menu-item .mx-menu-item-menu .mx-button {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0;
	color: #fff;
	background-color: #959595
}

.mx-menu-item .mx-menu-item-menu.mx-menu-item-menu-hide {
	display: none
}

.mx-menu-item .mx-menu-item-cover {
	position: relative;
	min-height: 48px;
	background-color: #fff;
	z-index: 2
}

.mx-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 48px;
	padding: 0 15px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff
}

.mx-item .item-text span {
	display: block
}

.mx-item .item-text small {
	color: #319fde
}

.app-rp .mx-item .item-text small {
	color: #e6705c
}

.mx-item .right {
	color: #959595
}

.mx-item.Tappable-active {
	background-color: darken(#fff, 10%)
}

.mx-selection {
	padding: 15px 0;
	border-bottom: 1px solid #e5e5e5
}

.mx-selection .mx-selection-number {
	margin-right: 5px;
	color: #319fde
}

.app-rp .mx-selection .mx-selection-number {
	color: #e6705c
}

.mx-selection .mx-selection-number:after {
	content: '.'
}

.mx-selection ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.mx-selection ul li {
	padding: 0
}

.mx-selection ul li>span {
	display: block;
	padding: 10px 0
}

.mx-selection ul li .Tappable-active {
	opacity: .9
}

.mx-selection ul li .mx-selection-radio {
	position: relative;
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid darken(#e5e5e5, 20%);
	margin: 2px 5px
}

.mx-selection ul li .mx-selection-radio:before {
	position: absolute;
	left: 6px;
	top: 6px;
	content: ' ';
	width: 10px;
	height: 10px;
	margin-left: -5px;
	margin-top: -5px;
	border-radius: 50%;
	background-color: #319fde;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s
}

.app-rp .mx-selection ul li .mx-selection-radio:before {
	background-color: #e6705c
}

.mx-selection ul li .mx-selection-radio+span {
	display: block;
	width: 100%;
	padding-left: 22px;
	box-sizing: border-box
}

.mx-selection ul li.selected .mx-selection-radio:before {
	-webkit-transform: scale(1);
	transform: scale(1)
}

.mx-error,
.mx-warning {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	max-width: 70%;
	border-radius: 2px;
	border: 1px solid darken(#666, 5%);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3), 0 4px 10px 5px rgba(0, 0, 0, .1);
	background-color: #666;
	opacity: 0;
	pointer-events: none;
	z-index: 9999;
	text-align: center;
	font-size: 12px
}

.mx-error p,
.mx-warning p {
	display: block;
	margin: 0;
	padding: 5px;
	color: #fff
}

.mx-error-show,
.mx-warning-show {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s
}

.mx-error-hide,
.mx-warning-hide {
	opacity: 0;
	-webkit-transition: opacity 2s;
	transition: opacity 2s
}

.mx-table {
	width: 100%;
	background-color: #fff;
	border-collapse: collapse
}

.mx-table,
.mx-table td,
.mx-table th {
	border-top: 1px solid lighten(#e5e5e5, 6%);
	border-bottom: 1px solid lighten(#e5e5e5, 6%)
}

.mx-table td,
.mx-table th {
	padding: 8px
}

.mx-table tr.tappable td,
.mx-table tr.tappable th {
	padding: 0
}

.mx-table tr.tappable td [class^=Tappable],
.mx-table tr.tappable th [class^=Tappable] {
	display: block;
	padding: 8px;
	width: 100%;
	height: 100%;
	box-sizing: border-box
}

.mx-spinner,
.mx-table.center {
	text-align: center
}

.mx-spinner {
	margin: 0 5px;
	display: inline-block;
	vertical-align: middle
}

.mx-spinner svg {
	font-size: 2em;
	color: #959595;
	-webkit-animation: rotate 2s linear infinite both;
	animation: rotate 2s linear infinite both
}

.mx-swipe-views-container {
	height: 100%;
	overflow: hidden
}

.mx-swipe-views-container,
.mx-swipe-views-container .mx-swipe-views-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.mx-swipe-views-container .mx-swipe-views-header {
	min-height: 40px;
	border-bottom: 4px solid #f0f0f0
}

.mx-swipe-views-container .mx-swipe-views-tabs {
	min-height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: -4px
}

.mx-swipe-views-container .mx-swipe-views-tabs,
.mx-swipe-views-container .mx-swipe-views-tabs-inner {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.mx-swipe-views-container .mx-swipe-views-tabs-inner {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.mx-swipe-views-container .mx-swipe-views-tab {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center
}

.mx-swipe-views-container .mx-swipe-views-tab>a {
	text-decoration: none;
	color: #000;
	width: 100%;
	height: 100%;
	display: block
}

.mx-swipe-views-container .mx-swipe-views-tab.active {
	color: #319fde
}

.mx-swipe-views-container .mx-swipe-views-ink {
	height: 4px;
	background-color: #319fde
}

.mx-swipe-views-container .mx-swipe-views,
.mx-swipe-views-container .mx-swipe-views-ink {
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out
}

.mx-swipe-views-container .mx-swipe-views {
	position: relative
}

body,
html {
	margin: 0;
	padding: 0;
	line-height: 1.5
}

.centered {
	margin: 100px auto;
	text-align: center
}

input[type=checkbox] {
	display: none
}

input[type=checkbox]+label span {
	display: inline-block;
	position: relative;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	border-radius: 3px;
	vertical-align: middle;
	background-color: #e5e5e5;
	cursor: pointer;
	text-align: center;
	-webkit-transition: background-color .2s;
	transition: background-color .2s
}

input[type=checkbox]+label span:before {
	content: '';
	display: inline-block;
	line-height: 19px;
	vertical-align: 3px;
	width: 12px;
	height: 6px;
	border: 3px solid #a0a0a0;
	border-top: 0;
	border-right: 0;
	background-color: transparent;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

input[type=checkbox]:checked+label span {
	background-color: #319fde
}

.app-rp input[type=checkbox]:checked+label span {
	background-color: #e6705c
}

input[type=checkbox]:checked+label span:before {
	border-color: #f0f0f0
}

.progress-circle {
	display: inline-block;
	margin: 10px;
	vertical-align: middle;
	color: #2d2d2d
}

.progress-circle,
.progress-circle .progress-circle-container {
	position: relative
}

.progress-circle .progress-circle-container p {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 50%;
	color: #319fde;
	margin: 0;
	z-index: -1
}

.app-rp .progress-circle .progress-circle-container p {
	color: #e6705c
}

.progress-circle .progress-circle-title {
	margin: 10px 0
}

.suggest-box {
	position: relative;
	overflow: hidden;
	overflow-y: auto;
	z-index: 100;
	-webkit-transition: height .15s;
	transition: height .15s
}

.suggest-box ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 95%;
	list-style-type: none;
	background-color: #f4f4f4;
	border-radius: 2px;
	font-size: .7rem
}

.suggest-box li {
	height: 36px;
	line-height: 30px;
	padding: 3px;
	margin: 0 15px;
	border-top: 1px solid #e5e5e5;
	box-sizing: border-box
}

.suggest-box li:first-child {
	border-top: 0
}

.protocol {
	display: block;
	padding: 15px;
	font-size: .9rem
}

.protocol input[type=checkbox] {
	margin-right: 5px
}

.protocol a {
	text-decoration: none;
	color: inherit
}

.vcode-dialog {
	z-index: 999
}

.vcode-dialog,
.vcode-dialog .vcode-dialog-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.vcode-dialog .vcode-dialog-bg {
	background-color: rgba(0, 0, 0, .5)
}

.vcode-dialog .vcode-dialog-body {
	position: absolute;
	top: 40%;
	left: 50%;
	min-width: 70%;
	max-width: 80%;
	border-radius: 3px;
	background-color: #f0f0f0;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0)
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-title {
	padding: 15px;
	font-size: 1.1rem;
	text-align: center
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-desc {
	margin-top: 0;
	padding: 0 15px;
	font-size: .8em;
	text-align: center;
	color: #8a8a8a
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-timer {
	text-align: center;
	font-size: 1.1em
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-content {
	position: relative;
	background-color: #dcdcdc
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-content input {
	border: 0;
	background-color: transparent;
	width: 100%;
	padding: 5px 10px;
	height: 48px;
	padding-right: 110px;
	box-sizing: border-box;
	outline: none
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-content img {
	position: absolute;
	top: 0;
	right: 0;
	height: 48px;
	width: 110px
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-operation {
	padding: 15px;
	text-align: center
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-operation .mx-button {
	width: 42%
}

.vcode-dialog .vcode-dialog-body .vcode-dialog-body-operation .mx-button:last-child {
	margin-left: 7%
}

.cate-page .category {
	margin: 15px;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	background-color: #319fde
}

.app-rp .cate-page .category {
	background-color: #e6705c
}

.bank-list-page ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.bank-list-page ul li {
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff
}

.bank-list-page ul .bank-item {
	position: relative;
	overflow: hidden;
	height: 60px;
	padding: 10px
}

.bank-list-page ul .bank-item .icon-arrow {
	width: 25px;
	height: 20px;
	position: absolute;
	right: 2px;
	color: #999;
	top: 44%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0)
}

.bank-list-page ul .bank-item .tit {
	font-size: 16px;
	margin-left: 52px
}

.bank-list-page ul .bank-item .icon,
.bank-list-page ul .bank-item .tit {
	position: absolute;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	top: 50%
}

.bank-list-page ul .bank-item .icon {
	left: 10px;
	width: 32px;
	height: 32px;
	background-size: 32px 32px
}

.bank-list-page ul .bank-item .i-1 {
	background-image: url(../../../../global/img/banklogo/zsyh_logo.png)
}

.bank-list-page ul .bank-item .i-2 {
	background-image: url(../../../../global/img/banklogo/jtyh_logo.png)
}

.bank-list-page ul .bank-item .i-3 {
	background-image: url(../../../../global/img/banklogo/jsyh_logo.png)
}

.bank-list-page ul .bank-item .i-4 {
	background-image: url(../../../../global/img/banklogo/zgyh_logo.png)
}

.bank-list-page ul .bank-item .i-5 {
	background-image: url(../../../../global/img/banklogo/zxyh_logo.png)
}

.bank-list-page ul .bank-item .i-6 {
	background-image: url(../../../../global/img/banklogo/gsyh_logo.png)
}

.bank-list-page ul .bank-item .i-7 {
	background-image: url(../../../../global/img/banklogo/xyyh_logo.png)
}

.bank-list-page ul .bank-item .i-8 {
	background-image: url(../../../../global/img/banklogo/msyh_logo.png)
}

.bank-list-page ul .bank-item .i-9 {
	background-image: url(../../../../global/img/banklogo/gdyh_logo.png)
}

.bank-list-page ul .bank-item .i-10 {
	background-image: url(../../../../global/img/banklogo/pfyh_logo.png)
}

.bank-list-page ul .bank-item .i-11 {
	background-image: url(../../../../global/img/banklogo/nyyh_logo.png)
}

.bank-list-page ul .bank-item .i-12 {
	background-image: url(../../../../global/img/banklogo/hxyh_logo.png)
}

.bank-list-page ul .bank-item .i-13 {
	background-image: url(../../../../global/img/banklogo/yzyh_logo.png)
}
